<div class="top_margin clearfix">

  <br/>
  <p>All Gift Guide</p>      
  <div class="clearfix">
    <% Shop.all.each do |s| %>
      <div class="category_card">
        <a href="#n"><%= image_tag(s.shop_image) if s.shop_image.attached? %></a>
        <p><%= link_to s.name, posts_shop_path(shop: s.name) %></p>
      </div>
    <% end %>
  </div>

  <br/>

</div>


<br>
<br><br><br><br><br><br><br><br><br><br><br><br>

<h1>Shops | <%= link_to "New Shop", new_shop_path %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>S description</th>
      <th>Display in navbar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.s_description %></td>
        <td><%= shop.display_in_navbar %></td>
        <td><%= link_to 'Show', shop %></td>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shop', new_shop_path %>
