<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <%= f.select :image_toggle, options_for_select([["Cover", ""], "Contain"])%>

  <div class="form-inputs">
    <%= f.association :category %>
    <%= f.association :guide %>
    <%= f.association :shop %>

    <%= f.file_field :image %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :link %>
    <%= f.input :is_price %>
    <%= f.input :was_price %>
    <%= f.input :pct %>
    <%= f.input :source %>
    <%= f.input :video %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
