<div class="layout">
  <div class="wrap">
    <div class="top_margin clearfix">
      <h1>Editing Post</h1>
        <%= simple_form_for(@post) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <%= f.select :image_toggle, ([["Cover", ""], "Contain"])%>

        <div class="form-inputs">
          <%= f.association :category %>
          <%= f.association :guide %>
          <%= f.file_field :image %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :link %>
          <%= f.input :is_price %>
          <%= f.input :was_price %>
          <%= f.input :pct %>
          <%= f.input :source %>
          <%= f.input :video %>
          <%= f.input :image_toggle %>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      <% end %>

      <%= link_to 'Show', @post %> |
      <%= link_to 'Back', posts_path %>
    </div>
  </div>
</div>
