<!-- <p id="notice"><%= notice %></p> -->
<div class="layout">
  <div class="wrap">
    <div class="top_wrapper clearfix">
      <%= render 'shared/second_menu' %>
    </div>
    <div class="show_box mid_wrapper clearfix index_comm">

      <div class="active_image">
        <% if @post.image_toggle.present? %>
          <% @post.image_toggle %>
          <div class="active_image_box contain">
            <%= image_tag(@post.image) if @post.image.attached? %>
          </div>
        <% else %>
          <div class="active_image_box">
            <%= image_tag(@post.image) if @post.image.attached? %>
          </div>
        <% end %>
        
      </div>

      <div class="inner">
        <p class="title"><%= @post.title %></p>
        <p class="source">By <%= @post.source %></p>
        <p class="description"><%= @post.description %></p>

        <div class="pricing clearfix">
          <span class="is"><%= number_to_currency(@post.is_price) %></span>
          <span class="was"><%= number_to_currency(@post.was_price) %></span>
          <% final_pct = 0 %>
          <% final_pct =  (@post.was_price - @post.is_price) / @post.was_price * 100 %>
          <span class="pct">( <%= number_to_percentage(final_pct, precision: 0) %> OFF )</span>
        </div>
        <!-- <p class="category"><%= @post.category.name %></p> -->

        <div class="btn">
          <a href="<%= @post.link %>">GO NOW</a>
        </div>
      </div>

      <div class="admin">
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Back', posts_path %>
      </div>

    </div><!-- show_box -->
  </div><!-- wrap -->
</div><!-- layout -->
