<div class="layout">
  <div class="wrap">
    <div class="top_wrapper clearfix">

      <br/>
      <p>All Categories</p>      
      <div class="clearfix">
        <% Category.all.each do |cat| %>
          <div class="category_card">
            <a href="<%= cat.cat_link %>"><%= image_tag(cat.category_image) if cat.category_image.attached? %></a>
            <p><%= link_to cat.name, posts_path(category: cat.name) %></p>
          </div>
        <% end %>
      </div>

      <br/><br/><br/>
      Only in navbar<br/>
      <% Category.where(display_in_navbar: true).each do |cat| %>
        <%= link_to cat.name, posts_path(category: cat.name) %>
      <% end %>

      <br/>
   
    </div>

  
    <%= render 'categories/added_cat' %>

        
  </div>
</div>
